/* General */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 22px;
}

@media (max-width: 700px) {
  html {
    font-size: 18px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* index.html */

.header {
  background: linear-gradient(
    190deg,
    rgba(234, 193, 55, 1) 0%,
    rgba(235, 150, 45, 1) 100%
  );
  position: relative;
  height: 100svh;
  text-align: center;
}

.header__inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__list {
  padding-bottom: 90px;
}

.header__list li {
  margin-bottom: 50px;
}

.header__logo {
  width: 17%;
  min-width: 140px;
}

.logo:hover {
  animation: logo 1s ease-in-out infinite alternate;
}

@keyframes logo {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@media (max-width: 1050px) {
  .logo:hover {
    animation: none;
  }
}

.title {
  color: white;
  text-align: center;
}

.button {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 60px;
  border-radius: 30px;
  line-height: 60px;
  text-align: center;
}

.button:hover {
  border: 1px solid white;
}

@media (max-width: 1050px) {
  .button:hover {
    border: none;
  }
}

.button--blue {
  background: linear-gradient(
    15deg,
    rgba(115, 33, 235, 1) 0%,
    rgba(80, 182, 235, 1) 100%
  );
  color: white;
}

.header__down-button {
  position: absolute;
  bottom: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

.header__down-button-arrows {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  position: relative;
  animation: arrows-down 0.8s ease-in-out infinite alternate;
}

.header__down-button-arrows::before,
.header__down-button-arrows::after {
  content: "";
  position: absolute;
  border: 4px solid white;
  height: 25px;
  width: 25px;
  transform: translate(-50%) rotate(45deg);
  border-top: none;
  border-left: none;
}

.header__down-button-arrows::before {
  top: 0;
}

.header__down-button-arrows::after {
  top: 30%;
}

@keyframes arrows-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

.main {
  background: linear-gradient(
    0deg,
    rgba(115, 33, 235, 1) 0%,
    rgba(235, 150, 45, 1) 100%
  );
}

.main__top-article {
  display: flex;
  flex-direction: row-reverse;
  max-width: 100%;
  background-color: white;
  border-radius: 40px;
  margin: 50px auto 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1050px) {
  .main__top-article {
    flex-direction: column;
    max-width: 800px;
  }
}

.main__article-image {
  width: 100%;
  min-height: 300px;
}

.main__article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

@media (max-width: 1050px) {
  .main__article-image img {
    border-radius: 40px 40px 0 0;
  }
}

.main__article-content {
  display: flex;
  flex-direction: column;
}

.main__article-content--top {
  width: 100%;
  gap: 25px;
  margin: 35px;
}

@media (max-width: 1050px) {
  .main__article-content--top {
    width: auto;
    gap: 10px;
    margin: 20px;
  }
}

.main__article-title:hover {
  color: #213ceb;
}

@media (max-width: 1050px) {
  .main__article-title:hover {
    color: black;
  }
}

.other-articles {
  padding-top: 20px;
}

@media (max-width: 1050px) {
  .other-articles {
    display: none;
  }
}

.main__article-list {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  font-size: 0.9rem;
}

@media (max-width: 1050px) {
  .main__article-list {
    grid-template-columns: repeat(1, 1fr);
    max-width: 800px;
    margin: 30px auto;
    font-size: 1rem;
  }
}

.main__list-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__article {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.5s ease-out;
}

.main__article:hover {
  transform: translateY(-20px);
}

@media (max-width: 1050px) {
  .main__article:hover {
    transform: none;
  }
}

.main__article-list-image {
  height: 300px;
}

.main__article-list-image img {
  border-radius: 40px 40px 0 0;
}

.main__article-content--general {
  gap: 10px;
  margin: 20px;
}

.footer {
  background: linear-gradient(
    0deg,
    rgba(63, 18, 130, 1) 0%,
    rgba(115, 33, 235, 1) 100%
  );
}

.footer__buttons {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 70px 100px;
}

@media (max-width: 700px) {
  .footer__buttons {
    flex-direction: column;
    gap: 30px;
  }
}

.button--yellow {
  background: linear-gradient(
    15deg,
    rgba(235, 150, 45, 1) 50%,
    rgba(234, 193, 55, 1) 100%
  );
  color: black;
}

/* about.html */

.about-title {
  padding-top: 210px;
  padding-bottom: 60px;
}

@media (max-width: 1050px) {
  .about-title {
    padding-top: 130px;
  }
}

.main__about-image {
  position: relative;
  z-index: 1;
  max-width: 960px;
  margin: 0 auto 40px auto;
}

.main__image {
  width: 100%;
  border-radius: 30px;
}

.main__logo {
  position: absolute;
  z-index: 2;
  width: 20%;
  min-width: 130px;
  top: 32%;
  left: 40%;
}

@media (max-width: 1050px) {
  .main__logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  margin-bottom: 30px;
}

.main__credits {
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  max-width: 840px;
  margin: 30px auto 30px auto;
}

@media (max-width: 1050px) {
  .main__credits {
    flex-direction: column;
    gap: 20px;
  }
}

.main__authors {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__authors h3 {
  padding-bottom: 10px;
}

.main__author {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.email-icon {
  width: 30px;
  height: 30px;
}

.main__school {
  width: 100%;
  aspect-ratio: 1.4;
}

/* article page */

.article-title {
  padding-top: 130px;
  padding-bottom: 30px;
}

.main__date {
  color: white;
  text-align: center;
}

.swiper--one-column-layout {
  max-width: 960px;
  max-height: 550px;
  margin: 35px auto;
}

.swiper--one-column-layout img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.75;
}

.swiper-slide img {
  border-radius: 30px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 6%;
  max-height: 0.5vh;
  border-radius: 30px;
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #213ceb;
}

.main__link {
  text-decoration: underline;
}

.main__link:hover {
  color: #213ceb;
}

@media (max-width: 1050px) {
  .main__link:hover {
    color: white;
  }
}

/* two-column-layout */

.main--two-column-layout {
  margin: 30px auto 0 auto;
  display: flex;
  gap: 30px;
}

@media (max-width: 1050px) {
  .main--two-column-layout {
    flex-direction: column;
  }
}

.swiper--two-column-layout {
  max-width: 370px;
  max-height: 690px;
  margin: 0 auto;
}

.swiper--two-column-layout img {
  width: 100%;
  height: 100%;
  aspect-ratio: 0.538;
}
